<!-- template for twitch chat messages -->
<div id="chat_message_<%= SecureRandom.hex(8) %>"
  data-controller="ephemeral"
  data-ephemeral-delay-value="5000"
  class="items-start gap-2
          px-3 py-2 rounded 
          bg-blue text-white 
          text-left gap-4 
          overflow-y-scroll
          max-w-sm"
  >

  <span class="font-bold" style="color: <%= @message[:tags][:color]%>">
    <%= @message[:name] %>:
  </span>
  <span class="text-white">
    <%= @message[:txt]  %>
  </span>


</div>
