<!-- template for twitch chat messages -->
<div id="chat_message_<%= SecureRandom.hex(8) %>"
  data-controller="ephemeral"
  data-ephemeral-delay-value="5000"
  class="
    bg-blue text-white
    text-left gap-2
    max-w-sm"
  style="font-size: 25px; line-height: 1.4;"
  >

  <span class="font-bold" style="color: <%= @message[:tags][:color]%>">
    <%= @message[:name] %>:
  </span>
  <span class="text-white">
    <%= @message[:txt].html_safe %>
  </span>


</div>
