<div>
  <h1 class="font-bold text-4xl">Twitch Chat</h1>

  <%= form_tag do %>
    <%=label_tag :ChannelName, ""%>
    <%=text_field_tag :ChannelName %>
  <%end%>
  <%=link_to "Connect To Twitch Chat (read only)", %>






</div>